
.picker__box {
  background-color: rgb(235, 134, 12);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

#index-banner {
  background-image: url("https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg?cs=srgb&dl=bread-bun-burger-2983101.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  width: 100%;
  color: rgba(255,255,255,.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
  .parallax-container .section {
    width: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#left-form{
  height: 419px;
  display: flex;
  align-items: center;
}

#right-form{
  padding: 30px 10px;
  height: 450px;
}

.no-margin{
  margin-bottom: 0 !important;
  margin-top: 8px !important;
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  border-radius: 2px;
  background-color: #ff6f00;
  border-color: #e65100;
}

[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ff6f00;
  background-color:  #e65100;
  z-index: 0;
}

thead{
  color: white;
}

.brand-logo{
  left: 0 !important;
  -webkit-transform: unset !important;
  transform: unset !important;
}

#querymine_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/dinner-egg-flatlay-54455.jpg);
  background-size: cover;
  background-color: rgb(36, 34, 34);
}